<div class="hbox hbox-auto-xs hbox-auto-sm">
    <!-- main -->
    <div class="col">
        <!-- main header -->
        <div class="bg-light lter b-b wrapper-md">
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <h1 class="m-n font-thin h3 text-black">{{profile_user.name}}</h1>
                </div>
            </div>
        </div>
        <!-- / main header -->

        <!-- main wrapper -->
        <div class="wrapper-md">
            <!-- info -->
            <div class="row">
              <div class="col-md-6 p-l-xs p-r-xs" ng-if="profile_user.id == user.id">
                <div class="panel b-a">
                  <div class="panel-heading b-b b-light">
                    <h2 class="panel-title">API key</h2>
                  </div>
                  <div class="panel-body b-b b-light">
                    <button ng-click="showApiKey()" ng-if="!api_key" class="btn btn-primary">
                      Show API key
                    </button>
                    <button ng-click="hideApiKey()" ng-if="api_key" class="btn btn-danger">
                      Hide API key
                    </button>
                    &nbsp;
                    {{api_key}}
                  </div>
                  <div class="panel-body b-b b-light">
                    URL for Github Webhook: {{web_hook_base_url}}/{{profile_user.name}}
                    <br>
                    The API key must be entered in the <code>Secret</code>
                    textbox as described <a href="https://developer.github.com/webhooks/securing/#setting-your-secret-token">here</a>.
                  </div>
                </div>
              </div>

            </div>
            <!-- / info -->
        </div>
        <!-- / main wrapper -->
    </div>
    <!-- / main -->
</div>
